#root {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: $sm auto;
  /* Utilizando la variable $sm */
  font-family: $font-family;
  /* Utilizando la variable $font-family */
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 900;
  src: url('../fonts/NotoSans-Black.ttf');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  src: url('../fonts/NotoSans-Bold.ttf');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 600;
  src: url('../fonts/NotoSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  src: url('../fonts/NotoSans-Regular.ttf');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 300;
  src: url('../fonts/NotoSans-Light.ttf');
}

img {
  width: 100%;
}

/* Removiendo los paddings por defecto de los encabezados y los párrafos */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  /* Agregando margen 0 para los párrafos */
}