// colors
$primary: royalblue;
$secondary: darken($primary, 20%);
$bg-color: #fafafa;
$text-color: #111;
$danger: #fd2828;

// btn
$btn-primary: royalblue;
$btn-secondary: lighten($primary, 20%);
$btn-color: $text-color;
$btn-hover: darken($btn-primary, 20%);

// medidas
$xs: 0.75rem; /* 12px */
$sm: 0.875rem; /* 14px */
$base: 1rem; /* 16px */
$lg: 1.125rem; /* 18px */
$xl: 1.25rem; /* 20px */
$xl2: 1.5rem; /* 24px */
$xl3: 1.875rem; /* 30px */
$xl4: 2.25rem; /* 36px */
$xl5: 3rem; /* 48px */
$xl6: 3.75rem; /* 60px */
$xl7: 4.5rem; /* 72px */
$xl8: 6rem; /* 96px */
$xl9: 8rem; /* 128px */




