#view-launcher {
    width: 100%;
    height: 100%;
    grid-template-rows: $space-xl auto $space-xl;
    font-family: $font-family;
    display: grid;
    grid-template-areas:
        "launcher-topbar"
        "launcher-content"
        "launcher-footer";
}

#launcher__appbar {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    grid-area: "launcher-topbar";
    -webkit-app-region: drag;

    .appbar__title {
        margin: 0 0 0 1rem;
    }

    & button {
        -webkit-app-region: no-drag;
    }

    #appbar__title {
        flex: 1;
    }

    #appbar__current-action {
        display: grid;
        place-items: center;
        flex: 4;
    }

    #appbar__system-buttons {
        max-width: 10.4rem;

        flex: 1;
    }
}


#appbar__system-buttons {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & button {
        height: 100%;
        width: 100%;
    }
}



#launcher__content {
    grid-area: "launcher-content";
    height: auto;
    width: 100%;
}

#launcher__footer {
    grid-area: "launcher-footer";
    height: auto;
    width: 100%;
}