.btn {
  border: solid 1px;
  border-color: #ededed;
  transition: background-color 0.2s ease-in-out;
  
  &:hover {
    background-color: #eee;
  }
}

.btn div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .4rem;
  padding: .4rem .6rem;
  height: $xl;
}
