.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    z-index: 100;
}

.nav-bar {
    display: flex;
    width: 100%;
}

.navbar-btn {
    padding: 0;
    border-radius: $xl2;
    background-color: rgba(255, 255, 255)
}

.navbar-btn div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .4rem;
    height: $xl;
    padding: .4rem .6rem;
}