#todo-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 0;
  height: fit-content;
}

.add-form__titleAndSelectContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  input, select {
    padding: .5rem 1rem;
    margin: 0;
    outline: none;
    font-size: 1.4rem;
    height: 100%;
  }

  select {
    font-size: 16px;
    border-radius: 20px;
    border: solid 1px #ededed;
  }

  input[type="text"] {
    width: 100%;
    font-weight: 700;
    font-size: 2rem;
    border: solid 1px #fff;
    border-radius: 20px;


    &:hover {
      border-color: #ededed;
    }
  }
}

.add-form__description {
  border: solid 1px #fff;
  outline: none;
  font-size: 1.4rem;
  padding: .5rem 1rem;
  border-radius: 20px;
  resize: none;
  height: 8rem;

  &:hover {
    border-color: #ededed;
  }
}

.btn-add-task {
  width: fit-content;
  padding: 0 1rem;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  text-transform: capitalize;
  display: inline-block;
  align-self: flex-end;
  background-color: #fff;
  border: solid 1px #ededed;
}
