.todo-list {
    display: grid;
    grid-template-rows: auto;
    gap: 1rem;
    position: relative;

    .btn-addTask {
        background-color: #fff;
        width: fit-content;
        position: sticky;
        display: grid;
        place-items: center;
        bottom: 1rem;
        margin: 1rem;
        left: 100%;
        border-radius: 50%;
        padding: .4rem .4rem;
        cursor: pointer;
    }
}