.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-radius: $xl4;
  border: 2px solid #ededed;

}

.todo-item__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.8rem;
  width: 100%;

  .todo-item__title {
    font-size: 1.6rem;
  }

  .todo-item__state {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100%;
  }

  .on-hold {
    background-color: rgb(244, 84, 84);
  }

  .done {
    background-color: rgb(81, 225, 65);
  }

  .work {
    background-color: royalblue;
  }

  .open {
    background-color: rgb(254, 242, 73);
  }
}


.todo-item__containerButtons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  .btn {

    background-color: #fff;
    border-color: #ddd8;
    width: 46px;
    border-radius: 50%;
    padding: .6rem;
    display: grid;
    place-items: center;
    cursor: pointer;
    &:hover {
      background-color: #ededed;
    }
  }
}
